.ProjectSection {
    border: 1px solid black;
    border-radius: 48px;
    height: 180vh;
    margin-top: -80px;
    background-color: white;
}

.project-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
}

.project-top h1 {
    font-size: 45px;
}

.project-top hr {
    width: 180px;
    height: 5px;
    background-color: black;
}

.project-bottom {
    display: grid;
    gap: 70px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    margin-top: 80px;
}

.project-list-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 40px;
    padding: 40px;
}

.project-list-container p {
    font-size: 19px;
    opacity: 70%;
}

.project-list-container img {
    width: 260px;
    height: 200px;
}

.project-list-container h3 {
    font-size: 25px;
}

.project-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 15px;
}

.project-button {
    display: flex;
    border: 1px solid black;
    background-color: white;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.project-button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media (max-width: 1300px) {
    .ProjectSection {
        margin-top: -50px;
        height: 180vh;
    }
    .project-top {
        margin-top: 30px;
    }
    .project-top h1 {
        font-size: 35px;
    }
    .project-top hr {
        width: 130px;
        height: 5px;
        background-color: black;
    }
    .project-list-container p {
        font-size: 15px;
        opacity: 70%;
    }
    .project-list-container img {
        width: 220px;
        height: 160px;
        border-radius: 10px;
    }
    .project-list-container h3 {
        font-size: 20px;
    }
    .project-buttons {
        gap: 15px;
        margin-top: 12px;
    }
    .project-button {
        width: 90px;
        height: 35px;
        font-size: 16px;
    }
    .project-list-container {
        gap: 10px;
        padding: 30px;
        border-radius: 30px;
    }
}